*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppings',sans-serif;
    background: url(background.jpg) center/cover no-repeat fixed;
}
.main
{
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 20px;
}
.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}
ul{
    margin-top: -4%;
}
ul li{
    list-style: none;
    display: inline-block;
    padding:20px 50px 0px 80px;
}
ul li a{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(132, 130, 147);
    transition: 0.4s ease;
}
ul li a:hover{
    color: rgb(226, 51, 3);
}
.info{
    margin-left: 7%;
    margin-top: 7%;
}
.info h3{
    font-size: 1.5em;
    color: rgb(33, 170, 108);
}
.info h1{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 25px;
    color: #5db10d;
}
.info span{
    color: rgb(230, 104, 59);
}
.info .first{
    color: rgb(180, 136, 55);
}
.info .second{
    color: rgb(240, 169, 169);
}
.info p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 550;
    color: #aae79d;
}
.info a{
    text-decoration: none;
    color: #fff;
    background: rgb(24, 163, 117);
    font-size: 1.5em;
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    transition: 0.4s ease;
}
.info a:hover{
    color: blue;
}
.social-icons{
    
    position: absolute;
    bottom: 60px;
}
.social-icons a{
    display: inline-block;
    width: 55px;
    height: 40px;
    background: rgb(133, 106, 161);
    border-radius: 45%;
    margin-left: 23px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #ede5e5;
    outline: 1px solid #7d2ae8;
    transition: 0.3s;
}
.social-icons a:hover{
    color: red;
    background: transparent;
    transform: translateY(-5px);
}
#about
{
    margin-top: 50px;
    padding: 30px 20px;

    background: rgb(0, 0, 0,0.5);
    border-radius: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: wheat;
}
#about h3{
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}
#about p{
    font-size: 1.3em;
    margin-bottom: 20px;
}
#skills{
    margin-top: 50px;

    padding: 30px 20px;
    border-radius: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
#skills h2{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 2rem;
}
#skills ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding-left: 0;
    margin: 0;
}
#skills ul li{
    background: color #007bff;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1rem;
    min-width: 100px;
    text-align: center;
}
